# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

repomix*
backend/.env
backend/test.db
*.pyc

# Python cache files
__pycache__/
*.py[cod]
*$py.class

backend/migrations/script.py.mako
backend/poetry.lock
backend/alembic.ini
roc_data.db

